
__pycache__/functions.cpython-38.pyc
__pycache__/classes.cpython-38.pyc
test.py
.idea/Sistema-de-registro-de-vendas.iml
*.iml
.idea/Sistema-de-registro-de-vendas.iml
App/__pycache__/default_widgets.cpython-39.pyc
App/__pycache__/functions.cpython-39.pyc
App/__pycache__/default_layouts.cpython-39.pyc
.idea/Sistema-de-registro-de-vendas.iml
